[Unit]
Description=Run spider campingworldareaSAR at 01:13 and 05:13 UTC

[Timer]
OnCalendar=*-*-* 01:13:00 UTC
OnCalendar=*-*-* 05:13:00 UTC
Unit=scrapy-spider@campingworldareaSAR.service
Persistent=true

[Install]
WantedBy=timers.target
