[Unit]
Description=Run spider RazorbackCampers at 01:03 and 05:03 UTC

[Timer]
OnCalendar=*-*-* 01:03:00 UTC
OnCalendar=*-*-* 05:03:00 UTC
Unit=scrapy-spider@RazorbackCampers.service
Persistent=true

[Install]
WantedBy=timers.target
