[Unit]
Description=Run spider rockyridgerv at 01:29 and 05:29 UTC

[Timer]
OnCalendar=*-*-* 01:29:00 UTC
OnCalendar=*-*-* 05:29:00 UTC
Unit=scrapy-spider@rockyridgerv.service
Persistent=true

[Install]
WantedBy=timers.target
