[Unit]
Description=Run spider funtownrvLR at 01:19 and 05:19 UTC

[Timer]
OnCalendar=*-*-* 01:19:00 UTC
OnCalendar=*-*-* 05:19:00 UTC
Unit=scrapy-spider@funtownrvLR.service
Persistent=true

[Install]
WantedBy=timers.target
