[Unit]
Description=Run spider claycooleyford at 01:15 and 05:15 UTC

[Timer]
OnCalendar=*-*-* 01:15:00 UTC
OnCalendar=*-*-* 05:15:00 UTC
Unit=scrapy-spider@claycooleyford.service
Persistent=true

[Install]
WantedBy=timers.target
