[Unit]
Description=Run spider skyriverrv at 01:37 and 05:37 UTC

[Timer]
OnCalendar=*-*-* 01:37:00 UTC
OnCalendar=*-*-* 05:37:00 UTC
Unit=scrapy-spider@skyriverrv.service
Persistent=true

[Install]
WantedBy=timers.target
