[Unit]
Description=Run spider moixrvhs at 01:23 and 05:23 UTC

[Timer]
OnCalendar=*-*-* 01:23:00 UTC
OnCalendar=*-*-* 05:23:00 UTC
Unit=scrapy-spider@moixrvhs.service
Persistent=true

[Install]
WantedBy=timers.target
