[Unit]
Description=Run spider rohrmantoyota at 01:31 and 05:31 UTC

[Timer]
OnCalendar=*-*-* 01:31:00 UTC
OnCalendar=*-*-* 05:31:00 UTC
Unit=scrapy-spider@rohrmantoyota.service
Persistent=true

[Install]
WantedBy=timers.target
