[Unit]
Description=Run spider trailerhitchrv at 01:39 and 05:39 UTC

[Timer]
OnCalendar=*-*-* 01:39:00 UTC
OnCalendar=*-*-* 05:39:00 UTC
Unit=scrapy-spider@trailerhitchrv.service
Persistent=true

[Install]
WantedBy=timers.target
