[Unit]
Description=Run spider moixrvsc at 01:27 and 05:27 UTC

[Timer]
OnCalendar=*-*-* 01:27:00 UTC
OnCalendar=*-*-* 05:27:00 UTC
Unit=scrapy-spider@moixrvsc.service
Persistent=true

[Install]
WantedBy=timers.target
