[Unit]
Description=Run spider moixrvmo at 01:25 and 05:25 UTC

[Timer]
OnCalendar=*-*-* 01:25:00 UTC
OnCalendar=*-*-* 05:25:00 UTC
Unit=scrapy-spider@moixrvmo.service
Persistent=true

[Install]
WantedBy=timers.target
