[Unit]
Description=Run spider rvcitybiz at 01:33 and 05:33 UTC

[Timer]
OnCalendar=*-*-* 01:33:00 UTC
OnCalendar=*-*-* 05:33:00 UTC
Unit=scrapy-spider@rvcitybiz.service
Persistent=true

[Install]
WantedBy=timers.target
