[Unit]
Description=Run spider wheelsrv at 01:41 and 05:41 UTC

[Timer]
OnCalendar=*-*-* 01:41:00 UTC
OnCalendar=*-*-* 05:41:00 UTC
Unit=scrapy-spider@wheelsrv.service
Persistent=true

[Install]
WantedBy=timers.target
