[Unit]
Description=Run spider campingworldareaLOW at 01:30 and 05:30 UTC

[Timer]
OnCalendar=*-*-* 01:30:00 UTC
OnCalendar=*-*-* 05:30:00 UTC
Unit=scrapy-spider@campingworldareaLOW.service
Persistent=true

[Install]
WantedBy=timers.target
