[Unit]
Description=Run spider campingworldareaFAR at 01:07 and 05:07 UTC

[Timer]
OnCalendar=*-*-* 01:07:00 UTC
OnCalendar=*-*-* 05:07:00 UTC
Unit=scrapy-spider@campingworldareaFAR.service
Persistent=true

[Install]
WantedBy=timers.target
