[Unit]
Description=Run spider campingworldareaLIT at 01:09 and 05:09 UTC

[Timer]
OnCalendar=*-*-* 01:09:00 UTC
OnCalendar=*-*-* 05:09:00 UTC
Unit=scrapy-spider@campingworldareaLIT.service
Persistent=true

[Install]
WantedBy=timers.target
