[Unit]
Description=Run spider campingworldareaLOW at 01:11 and 05:11 UTC

[Timer]
OnCalendar=*-*-* 01:11:00 UTC
OnCalendar=*-*-* 05:11:00 UTC
Unit=scrapy-spider@campingworldareaLOW.service
Persistent=true

[Install]
WantedBy=timers.target
