[Unit]
Description=Run spider rvcountry at 01:35 and 05:35 UTC

[Timer]
OnCalendar=*-*-* 01:35:00 UTC
OnCalendar=*-*-* 05:35:00 UTC
Unit=scrapy-spider@rvcountry.service
Persistent=true

[Install]
WantedBy=timers.target
